adium-theme-ubuntu==0.3.4
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
backports.functools-lru-cache==1.4
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
bootstrap-admin==0.3.9
bs4==0.0.1
cffi==1.11.4
constantly==15.1.0
cryptography==2.1.4
cssselect==1.0.3
cycler==0.10.0
Django==1.11.11
django-admin-bootstrapped==2.5.7
django-ckeditor==5.4.0
django-js-asset==1.0.0
django-redis==4.9.0
django-redis-cache==1.7.1
dnspython==1.12.0
enum34==1.1.6
httplib2==0.9.1
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
iniparse==0.4
ipaddress==1.0.19
jieba==0.39
lxml==4.1.1
matplotlib==2.1.1
MySQL-python==1.2.3
numpy==1.13.3
olefile==0.44
opencv-python==3.4.0.12
Paginator==0.5.1
parsel==1.3.1
Pillow==4.3.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0
PyDispatcher==2.0.5
pygobject==3.20.0
pyinotify==0.9.6
pyliblzma==0.5.3
pyOpenSSL==17.5.0
pyparsing==2.2.0
pysqlite==1.0.1
python-dateutil==2.6.1
pytz==2017.3
pyxdg==0.25
queuelib==1.4.2
redis==2.10.6
rpm-python==4.12.0.1
Scrapy==1.5.0
service-identity==17.0.0
six==1.11.0
subprocess32==3.2.7
Twisted==17.9.0
unity-lens-photos==1.0
urlgrabber==3.9.1
vboxapi==1.0
virtualenv==15.0.1
w3lib==1.18.0
yum-metadata-parser==1.1.4
zope.interface==4.4.3
